{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/css/login.css') }}">
{% endblock %}

{% block body %}
    <section id="cover" class="cover">
        <div class="cover-inner">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-xl-3 col-lg-5 col-md-5 col-sm-7">
                        <div class="login py-3">
                            <h3>Connexion</h3>
                            {% if error %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    {{ error.messageKey|trans(error.messageData, 'security') }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endif %}
                            <div class="login-inner">
                                <form action="{{ path('login') }}" method="post">
                                    <div class="form-group">
                                        <label for="username" class="col-form-label">Nom d'utilisateur</label>
                                        <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" />
                                    </div>

                                    <div class="form-group">
                                        <label for="password" class="col-form-label">Mot de passe</label>
                                        <input type="password" class="form-control" id="password" name="_password" />
                                    </div>

                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                                    <button type="submit" class="btn btn-dark">Connexion</button>
                                </form>
                            </div>
                            <p><a href="{{ path('security_lost_password') }}" class="btn btn-light">Mot de passe oublié ?</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
