{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/css/trick.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/trick-edit.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/js/app.js') }}"></script>
    <script src="{{ asset('/js/trick-edit.js') }}"></script>
{% endblock %}

{% block body %}
    <section id="cover" class="cover d-none d-sm-block">
    </section>



    <section class="trick-content mb-3 mb-sm-5 pt-3 pt-sm-5">
        <div class="container">
            <div class="trick pb-4 px-2">
                {{ include('form/_create_trick_form.html.twig') }}
            </div>
        </div>
    </section>

{% endblock %}
