{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/css/trick.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/js/app.js') }}"></script>
{% endblock %}

{% block modals %}
    {{ parent() }}
    {{ include('Form/_delete_trick_confirmation.html.twig') }}
{% endblock %}

{% block body %}
    <section id="cover" class="cover d-none d-sm-block">
    </section>



    <section class="trick-content mb-3 mb-sm-5 pt-3 pt-sm-5">
        <div class="container">
            <div class="trick-thumbnail" style="background-image: url({{ asset(trick.trickImage) }})">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="trick-action">
                        <div class="action-edit text-center">
                            <a href="{{ path('trick_edit', {'id': trick.id}) }}">
                                <i class="fas fa-edit"></i>
                            </a>
                        </div>
                        <div class="action-delete text-center">
                            {{ include('Form/_delete_trick_form.html.twig', {trick: trick}) }}
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="trick pb-4">
                <div class="trick-name text-left text-sm-center">
                    <span>{{ trick.name }}</span>
                </div>
                {% if not trick.images.empty %}
                    <div class="d-block d-sm-none text-center">
                        <button class="btn btn-info mt-4" onclick="this.remove(); $('.trick-media').removeClass('d-none');">Voir les médias</button>
                    </div>
                {% endif %}
                <div class="trick-media px-4 d-none d-sm-block">
                    <div class="row justify-content-center">
                        {% if not trick.images.empty %}
                            {% for image in trick.images %}
                                <div class="col-xl-4 col-lg-6 col-md-6 px-3">
                                    <div class="embed-responsive embed-responsive-16by9 media-image mt-4 mt-4" style="background-image: url({{ asset(image.path) }});">
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}

                        {% if not trick.videos.empty %}
                            {% for video in trick.videos %}
                                <div class="col-xl-4 col-lg-6 col-md-6 px-3">
                                    <div class="embed-responsive embed-responsive-16by9 mt-4">
                                        <iframe class="embed-responsive-item" src="{{ video.iframe }}" allowfullscreen></iframe>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="trick-description pt-4 px-4">
                    <p class="text-justify">
                        {{ trick.description }}
                    </p>
                </div>

                <div class="trick-informations">
                    <ul class="list-unstyled m-0 d-flex justify-content-center">
                        <li class="mx-2">
                            Ajouté le : {{ trick.created|date("d/m/Y") }}
                        </li>
                        {% if trick.created != trick.updated %}
                            <li class="mx-2">
                                Dernière édition : {{ trick.updated|date("d/m/Y") }}
                            </li>
                        {% endif %}
                        <li class="mx-2">
                            {% if trick.category is not null %}
                                Catégories :
                                {% for category in trick.category %}
                                    {{ category.name }}{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            {% endif %}
                        </li>
                    </ul>
                </div>

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="trick-comment-form py-4 mx-4 mt-4">
                        <div class="row justify-content-center">
                            <div class="col-xl-7">
                                {{ include('form/_add_comment_form.html.twig') }}
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if not trick.comments.empty %}
                    <div class="trick-comments px-4">
                        <div class="row justify-content-center">
                            <div class="col-xl-7">
                                <ul class="list-unstyled m-0">
                                    {% for comment in trick.comments %}
                                        <li class="comment-item media mt-4 {% if loop.index >= 6 %}hidden-comment{% endif %}">
                                            <img class="mr-3 rounded" src="{{ asset(comment.user.avatarPath) }}">
                                            <div class="media-body">
                                                <h5 class="mt-0 mb-1">{{ comment.user.username }} <small>{{ comment.date|date('Y-m-d H:i:s') }}</small></h5>
                                                {{ comment.content }}
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        {% if trick.comments|length > 5 %}
                            <div class="text-center">
                                <button class="btn btn-info mt-4" onclick="this.remove(); $('.hidden-comment').css('display', 'flex');">Voir plus</button>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

{% endblock %}
